<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProjectMapper">

    <!--id对应接口中的方法，名字要一样，parameterType是方法的参数类型，
    resultType是查询返回的类型，需要注意的是，这里的SQL语句后面不能加分号，变量不能加引号-->
    <select id="getByOwnerId" parameterType="Integer" resultType="Project">
        select id,name,description,level,state,start_time,end_time,created from Project where owner_id = #{owner_id}
    </select>

    <select id="getById" parameterType="Integer" resultType="Project">
        select * from Project where id = #{id}
    </select>

    <insert id="addProject" parameterType="User" useGeneratedKeys="true" keyProperty="id" >
        insert into Project(name,description,level,state,owner_id,start_time,end_time,created) values(#{name},#{description},#{level},#{state},#{owner_id},#{start_time},#{end_time},#{created})
    </insert>

    <insert id="addRelation" parameterType="Project_User" useGeneratedKeys="true" keyProperty="id">
        insert into Project_User(user_id,project_id,role) values(#{user_id},#{project_id},#{role})
    </insert>

    <delete id="deleteProject" parameterType="Integer">
        delete from Project where id = #{id}
    </delete>

</mapper>