<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TaskMapper">

    <!--id对应接口中的方法，名字要一样，parameterType是方法的参数类型，
    resultType是查询返回的类型，需要注意的是，这里的SQL语句后面不能加分号，变量不能加引号-->
    <select id="getByProjectId" parameterType="int" resultType="java.util.Map">
        select x.id,x.name,description,level,state,y.name as owner_name,DATE_FORMAT(start_time ,"%Y-%m-%d") AS start_time,DATE_FORMAT(end_time ,"%Y-%m-%d") AS end_time,DATE_FORMAT(created ,"%Y-%m-%d") AS created
        from Task x left join User y on x.owner_id=y.id
        where project_id = #{id}
    </select>

    <select id="getById" parameterType="int" resultType="Task">
        select * from Task where id = #{id} limit 1
    </select>


    <insert id="addTask" parameterType="Task" useGeneratedKeys="true" keyProperty="id">
        insert into Task(name,description,level,state,owner_id,start_time,end_time,created,creator_id,project_id)
        values(#{name},#{description},#{level},#{state},#{owner_id},#{start_time},#{end_time},#{created},#{creator_id},#{project_id})
    </insert>

    <delete id="delTask" parameterType="Integer">
        delete from Task where id = #{id}
    </delete>

    <update id="assignTask" parameterType="Integer">
        update Task set owner_id=#{owner_id} where id=#{task_id}
    </update>

    <update id="updateTask" parameterType="Task">
        update Task set name=#{name},description=#{description},level =#{level},
        state=#{state},start_time=#{start_time},end_time=#{end_time} where id=#{id}
    </update>

    <update id="initTask" parameterType="int">
        update Task set
        state="待分配",owner_id=null
        where project_id=#{project_id} and owner_id=#{owner_id}
    </update>



</mapper>